body {
    margin: auto;
    text-align: center;
    background-color: black;

}

.container {
    background-color: white;
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
    margin:20px auto;
}

.flag{
    width: 150px;
    height: 30px;
    margin: 10px auto;
    
}

#red{
    background-color: rgb(255, 0, 0);
}

#blue {
    background-color: #0000FF;
}

#green{
    background-color: hsl(120, 100%, 25%);
}